<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlILxh9oyP0jiCS5nySpjips38bHEhJdY</string>
	<key>GCM_SENDER_ID</key>
	<string>206251435447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayotani</string>
	<key>PROJECT_ID</key>
	<string>ayotani-4a6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>ayotani-4a6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206251435447:ios:e75224bc7cc488e12eb432</string>
</dict>
</plist>